<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HZWDictionary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8317DF451CBB7C870090CD48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8317DF5E1CBB7C870090CD48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8317DF691CBB7C870090CD48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
